.neen {
	background-color: rgba(255, 154, 67, 1.0);
	border-color: rgba(207, 96, 0, 1.0);
	border-radius: 48px;
	color: rgba(207, 96, 0, 1.0);
	outline: none;
}

::placeholder {
  color: rgb(160, 74, 0);
  opacity: 1;
}

:-ms-input-placeholder {
  color: rgb(160, 74, 0);
}

::-ms-input-placeholder {
  color: rgb(160, 74, 0);
}